body {
  background-color: #2E323E;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: normal;
  font-family: 'Hind', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.py-8 {
  padding-top: 5rem!important;
  padding-bottom: 5rem!important;
}
.mt-2 {
  margin-top: 8px !important;
}