.form-group {
  position: relative;
  padding-bottom: 15px;
  padding-top: 5px;
  max-width: 100%;

  & .field-slot {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #bdbdc0;
      bottom: 1px;
    }
  }

  & input {
    border: none;
    color: #FDFEFD;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 0;
    width: 100%;
    background-color: transparent;
  }
  & label {
    color: #FDFEFD;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: -20px;
    left: 0;
    pointer-events: none;
    transform: translateY(30px);
  }
  & input:valid,
  & input:focus {
    border-bottom-color: $primary;
    outline: none;
  }
  & input:valid + label,
  & input:focus + label {
    color: $primary;
    font-size: 12px;
    transform: translateY(10px);
  }
  & label {
    transition: all 0.2s ease-in-out;
  }
}


